%p{:style => "color: green"}= notice
%h1 Questions
#questions
  - @questions.each do |question|
    %p
      %strong
        = question.text
    %p
      = link_to "Mostrar pergunta", question
= link_to "New question", new_question_path
