= turbo_frame_tag "correction" do
    .correction{style: "color: red; border: 10px solid red; background-color: rgb(216, 122, 122);"}
        %h1 
            %strong INCORRETO

            
    %button.config{:onclick => "location.href ='/pergunta?agent=#{@agent.id}';"}
        Responder outra            
    %button.config{:onclick => "location.href ='/';"}
        Voltar