.sidebar
    %a{href:"/"}
        %img{src:"/logo.png", width:"155px", id:"logo"}
    .link
        %a{href:"/questions"}
            %img{src: "icons/question-circle-fill.svg", height: '16px'}
            Perguntas
    .link
        %a{href:"/agents"}
            %img{src: "icons/person-fill.svg", height: '16px'}
            Colaboradores
    .link
        %a{href:"/teams"}
            %img{src: "icons/people-fill.svg", height: '16px'}
            Equipes
        